@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
 
@theme inline {
  --breakpoint-3xl: 120rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); 
  --font-poppins: var(--font-poppins);
  --font-poppins-italic: var(--font-poppins-italic);
  --font-dirtylizard: var(--font-dirty-lizard);
}

body {
  font-size: 16px;
}

.translate-middle {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.separator-hero {
  position: absolute;
  bottom: 29%;
  z-index: 1;
}